body {

    width: 100%;
    height: 100%;
    font-family: "comic sans ms";
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    

}